:root {
  --primary: #048853;
  --sec: #00985b;
  --white: #f3fff4;
}

* {
  /* border: 1px solid white; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  /* color: black; */
}

/* navbar */

.buttonhijau {
  color: var(--sec);
}

.buttondaftar {
  font-weight: 300;
}

/* hero section */

#hero {
  height: 100vh;
  width: 100%;
}

/* section 2 */

#section2 {
  height: 100vh;
  width: auto;
  background-color: var(--white);
}

.lingkaran {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  background-color: var(--white);
}

.lingkaran1 {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  background-color: var(--sec);
}

/* section 3 */

#section3 {
  height: 100vh;
  width: auto;
  background-color: var(--white);
}

.imgcover {
  height: 100%;
  width: auto;
  background-size: cover;
  background-image: url(/assets/img/background-section3.png);
}

/* section 4 */

#section4 {
  height: 200vh;
  width: auto;
  background-color: var(--white);
}

#section4 h1 {
  margin-top: 7rem;
  color: var(--sec);
}

.kamar-tidur {
  font-size: 0.7rem;
  margin: 0;
}

.kamar-mandi {
  font-size: 0.7rem;
  margin-top: -1rem;
  padding-left: 2.8rem;
}

.jarak-1 {
  font-size: 0.8rem;
  margin: 0;
}

.luas-rumah {
  font-size: 0.7rem;
  /* padding-left: 11.5rem;
  padding-bottom: 15rem; */
  /* background-color: blue; */
}

/* section 5 */

#section5 {
  height: 100vh;
  width: auto;
  background-color: var(--white);
}

#section5 h1 {
  color: var(--sec);
}

/* section 6 */

#section6 {
  height: 100vh;
  width: auto;
}

.imgcover1 {
  position: relative;
  background-image: url(/assets/img/rumah11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.imgcover1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to control the darkness */
  z-index: 1;
}

.custom-mt1 {
  margin-top: 7.5rem;
}

.custom-mt2 {
  margin-top: 9rem;
}

.custom-h3 {
  color: var(--sec);
}

.btn-wide {
  width: 100%;
  background-color: var(--sec);
}

/* footer */

footer {
  height: 30vh;
  background-color: black;
}

footer .custom-mt3 {
  margin-top: 5rem;
}

.custom-text {
  font-weight: 100;
}
